@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["ActivePage"] = "Product";
}
@model List<core_w2.Areas.Users.Models.SanPham>

<div class="product-model">
	<div class="container">
		@await Html.PartialAsync("_Breadcrumb")
		<h2>Our Products</h2>
		<div class="col-md-9 product-model-sec">

			@* <a asp-controller="home" asp-action="single">
				<div class="product-grid">
					<div class="more-product"><span> </span></div>
					<div class="product-img b-link-stripe b-animate-go  thickbox">
						<img src="~/images/p1.jpg" class="img-responsive" alt="">
						<div class="b-wrapper">
							<h4 class="b-animate b-from-left  b-delay03">
								<button><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Quick View</button>
							</h4>
						</div>
					</div>
			</a>
			<div class="product-info simpleCart_shelfItem">
				<div class="product-info-cust prt_name">
					<h4>Lights #1</h4>
					<span class="item_price">$187.95</span>
					<div class="ofr">
						<p class="pric1"><del>Rs 280</del></p>
						<p class="disc">[12% Off]</p>
					</div>
					<input type="text" class="item_quantity" value="1" />
					<input type="button" class="item_add items" value="ADD">
					<div class="clearfix"> </div>
				</div>

			</div>
		</div> *@
		@foreach (var item in Model)
		{
			<div class="product-grid">
				<a asp-controller="home" asp-action="single" asp-route-id="@item.MaSP">
					<div class="more-product"><span> </span></div>
					<div class="product-img b-link-stripe b-animate-go thickbox">
						<img src="~/images/@item.HinhAnh" class="img-responsive" alt="@item.TenSP" />
						<div class="b-wrapper">
							<h4 class="b-animate b-from-left b-delay03">
								<button><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Quick View</button>
							</h4>
						</div>
					</div>
				</a>
				<div class="product-info simpleCart_shelfItem">
					<div class="product-info-cust prt_name">
						<h4>@item.TenSP</h4>
						<span class="item_price">@item.DonGiaKhuyenMai.ToString("N0") ₫</span>
						<div class="ofr">
							<p class="pric1"><del>@item.DonGia.ToString("N0") ₫</del></p>
							<p class="disc">[Khuyến mãi]</p>
						</div>
						<input type="text" class="item_quantity" value="1" />
						<input type="button" class="item_add items" value="ADD" />
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		}


	@* <a asp-controller="home" asp-action="single">
		<div class="product-grid">
			<div class="more-product"><span> </span></div>
			<div class="product-img b-link-stripe b-animate-go  thickbox">
				<img src="~/images/p3.jpg" class="img-responsive" alt="" />
				<div class="b-wrapper">
					<h4 class="b-animate b-from-left  b-delay03">
						<button><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Quick View</button>
					</h4>
				</div>
			</div>
	</a>
	<div class="product-info simpleCart_shelfItem">
		<div class="product-info-cust prt_name">
			<h4>Lights #1</h4>
			<span class="item_price">$187.95</span>
			<div class="ofr">
				<p class="pric1"><del>Rs 280</del></p>
				<p class="disc">[12% Off]</p>
			</div>
			<input type="text" class="item_quantity" value="1" />
			<input type="button" class="item_add items" value="ADD">
			<div class="clearfix"> </div>
		</div>
	</div> *@
</div>
</div>
</div>
@await Html.PartialAsync("_Sidebar")