@model core_w2.Areas.Users.Models.SanPham
@{
    ViewData["Title"] = "Trang Chi Tiết";
}
<div class="product">
<div class="container">
<div class="product-price1">
<div class="top-sing">
<div class="col-md-7 single-top">
<div class="flexslider">
        <ul class="slides">
            <div class="thumb-image">
                <img src="~/images/@Model.HinhAnh" data-imagezoom="true" class="img-responsive" alt="@Model.TenSP" />
            </div>
        </ul>
    </div>
</div>
<div class="col-md-5 single-top-in simpleCart_shelfItem">
    <div class="single-para ">
        <h4>@Model.TenSP</h4>
        <h5 class="item_price">
            @Model.DonGiaKhuyenMai.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))
        </h5>
        <p class="para">@Model.MoTa</p>
        <div class="prdt-info-grid">
            <ul>
                <li>- Loại sản phẩm: @Model.LoaiSP</li>
                <li>- Mã sản phẩm: @Model.MaSP</li>
                <li>- Giá gốc: @Model.DonGia.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</li>
            </ul>
        </div>
        <a href="#" class="add-cart item_add">ADD TO CART</a>
    </div>
</div>
<div class="clearfix"> </div>
</div>
</div>
</div>
</div>